.a-section-biznes{
    background-image: url("../images/account/kob-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 20px;
    padding-top: 80px;
    padding-bottom: 80px;
}
.a-section-biznes-container{
    display: flex;
    flex-direction: column;
    gap: 64px;
    .a-section-biznes-boxes{
        width: 50%;
        display: flex;
        justify-content: space-between;
        .a-section-biznes-box{
            display: flex;
            flex-direction: column;
            .a-section-biznes-text{
                cursor: auto;
                color: #fff;
                -webkit-box-direction: normal!important;
                box-sizing: inherit;
                font: inherit;
                vertical-align: baseline;
                margin-bottom: 8px;
            }
            .a-section-biznes-title{
                cursor: auto;
                color: #fff;
                -webkit-box-direction: normal!important;
                box-sizing: inherit;
                font: inherit;
                vertical-align: baseline;
                font-size: 24px;
                font-weight: 500;
                line-height: 32px;
            }
        }
    }
    .a-section-biznes-button{
        box-sizing: inherit;
        margin: 0;
        font: inherit;
        vertical-align: baseline;
        text-decoration: inherit;
        display: inline-block!important;
        text-align: center!important;
        font-size: 14px;
        line-height: 24px;
        letter-spacing: .1px;
        font-weight: 600;
        border-radius: 6px;
        cursor: pointer;
        outline: none;
        border: none;
        align-items: center;
        justify-content: center;
        min-width: 144px;
        height: 56px;
        padding: 16px;
        background: #058d66;
        color: #fff;
        background-position: 50%;
        transition: background .7s,color .4s;
        width: 13%;
    }
}

.a-section-packages-text{
    box-sizing: inherit;
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;
    color: rgba(0,0,0,.6);
    font-weight: 500;
    font-size: 15px;
    line-height: 24px;
    letter-spacing: .5px;
    margin-bottom: 40px;
    margin-top: -20px;
}
.a-section-packages-texts{
    display: flex;
    flex-direction: column;
}