.a-section-header-text{
    box-sizing: inherit;
    font: inherit;
    vertical-align: baseline;
    color: rgba(0,0,0,.6);
    font-weight: 500;
    font-size: 15px;
    line-height: 24px;
    letter-spacing: .5px;
    margin-bottom: 40px;
}