.addition-button{letter-spacing: .1px;
color: #007d57;
box-sizing: inherit;
margin: 0;
padding: 0;
border: 0;
font: inherit;
vertical-align: baseline;}
.addition-button:hover{
    color: #007d57;
    text-decoration: none;
}

.background-gray{
    background-color: #fafafa;
}
.section-title{
    color: rgba(0,0,0,.87);
    box-sizing: inherit;
    font: inherit;
    vertical-align: baseline;
    font-weight: 400!important;
    font-size: 32px;
    line-height: 48px;
    letter-spacing: .25px;
}

.nice-icon{
    width: 70px;
    border-radius: 50%;
    padding: 20px;
    font-size: 30px;
    margin-left: -10px;
    margin-bottom: 30px;
}

// <i
// class="fa-solid fa-file"
// style="color: #058d66; background-color: #e0f3ed"
// ></i>

// <i
// class="fa-solid fa-gift"
// style="color: rgb(226, 67, 83); background-color: #ffebf0"
// ></i>

// <i
// class="fa-solid fa-phone"
// style="color: #eca400; background-color: #fdf6e7"
// ></i>




.transparent-link{
    box-sizing: inherit;
    font-family: inherit;
    margin: 0;
    overflow: visible;
    text-transform: none;
    width: 100%;
    margin-bottom: 8px;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: .1px;
    font-weight: 600;
    border-radius: 6px;
    cursor: pointer;
    outline: none;
    border: none;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    min-width: 128px;
    height: 40px;
    padding: 8px 16px;
    background: #058d66;
    background-color: hsla(0,0%,100%,0);
    color: #099a71;
    background-position: 50%;
    transition: background .7s,color .4s;
}
.green-button{
    box-sizing: inherit;
    margin: 0;
    font: inherit;
    vertical-align: baseline;
    text-decoration: inherit;
    width: 100%;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: .1px;
    font-weight: 600;
    border-radius: 6px;
    cursor: pointer;
    outline: none;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 128px;
    height: 40px;
    padding: 8px 16px;
    background: #058d66;
    color: #fff;
    background-position: 50%;
    transition: background .7s,color .4s;
}

.transparent-link:hover{
    background: #f1f9f7 radial-gradient(circle,transparent 1%,#f1f9f7 0) 50%/18000%;
    color: #099a71;
}

.green-button:hover{
    color: #fff;
    text-decoration: none;
    background: #2caa84 radial-gradient(circle,transparent 1%,#2caa84 0) 50%/18000%;
}