.addition-button{letter-spacing: .1px;
color: #007d57;
box-sizing: inherit;
margin: 0;
padding: 0;
border: 0;
font: inherit;
vertical-align: baseline;}
.addition-button:hover{
    color: #007d57;
    text-decoration: none;
}

.background-gray{
    background-color: #fafafa;
}
.section-title{
    color: rgba(0,0,0,.87);
    box-sizing: inherit;
    font: inherit;
    vertical-align: baseline;
    font-weight: 400!important;
    font-size: 32px;
    line-height: 48px;
    letter-spacing: .25px;
}

.nice-icon{
    width: 70px;
    border-radius: 50%;
    padding: 20px;
    font-size: 30px;
    margin-left: -10px;
    margin-bottom: 30px;
}

// <i
// class="fa-solid fa-file"
// style="color: #058d66; background-color: #e0f3ed"
// ></i>

// <i
// class="fa-solid fa-gift"
// style="color: rgb(226, 67, 83); background-color: #ffebf0"
// ></i>

// <i
// class="fa-solid fa-phone"
// style="color: #eca400; background-color: #fdf6e7"
// ></i>