.bc-section-question{
   padding-top: 70px; 
}
.bc-section-question-title{
    color: rgba(0,0,0,.87);
    box-sizing: inherit;
    font: inherit;
    vertical-align: baseline;
    font-size: 32px;
    line-height: 48px;
    letter-spacing: .25px;
}