.sc-section-packages{
    padding-top: 80px;
}

.sc-section-packages-container{
    display: flex;
    flex-direction: column;
}

.sc-section-packages-info{
    box-sizing: inherit;
    font: inherit;
    vertical-align: baseline;
    color: rgba(0,0,0,.6);
    font-weight: 500;
    font-size: 15px;
    line-height: 24px;
    letter-spacing: .5px;
    margin-bottom: 24px;
}
.sc-section-packages-boxes{
    display: flex;
    gap: 10px;
    .sc-section-packages-box{
        width:32% ;
        color: rgba(0,0,0,.87);
        box-sizing: inherit;
        margin: 0;
        border: 0;
        font: inherit;
        vertical-align: baseline;
        box-shadow: 0 2px 7px rgba(0,0,0,.07);
        transition: all .3s cubic-bezier(.23,1,.32,1);
        display: flex;
        flex-direction: column;
        padding: 32px 0 24px;
        background-color: #fff;
        border-radius: 8px;
        position: relative;
        margin-top: 15px;
        margin-right: 16px;
        flex: 0 0 auto;
        margin-bottom: 24px;
        .sc-section-packages-box-top{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            height: 200px;
            padding-bottom: 24px;
            .sc-section-packages-box-title{
                color: rgba(0,0,0,.87);
                box-sizing: inherit;
                font: inherit;
                vertical-align: baseline;
                font-size: 20px;
                font-weight: 600;
                line-height: 24px;
                letter-spacing: .15px;
                margin-bottom: 16px!important;    
                margin-top: 15px;  
                  }
            
             .sc-section-packages-box-text{
                box-direction: normal;
                box-sizing: inherit;
                margin: 0;
                padding: 0;
                border: 0;
                font: inherit;
                vertical-align: baseline;
                text-align: center!important;
                color: rgba(0,0,0,.6);
                line-height: 24px;
                padding-right: 8px;
                padding-left: 8px;
             }
            }

    }
}


.sc-section-packages-box-card-div{
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    align-items: center;
}



.sc-section-packages-box-mc-card{

    box-sizing: inherit;
    font: inherit;
    vertical-align: baseline;
    color: #343836;
    line-height: 24px;
    letter-spacing: .15px;
    font-size: 15px;
    font-weight: 500;
    margin-left: 8px;
    img{
        width:15px;
    }
}
.sc-section-packages-box-visa-card{
    box-sizing: inherit;
    font: inherit;
    vertical-align: baseline;
    color: #343836;
    line-height: 24px;
    letter-spacing: .15px;
    font-size: 15px;
    font-weight: 500;
    margin-left: 8px;
    img{
        width:15px;
    }
}
.sc-section-packages-box-card-div-cards{

  display: flex;
  flex-direction: column;
}
.sc-section-packages-price{
    box-sizing: inherit;
    font: inherit;
    vertical-align: baseline;
    color: #099a71;
    font-size: 32px;
    line-height: 48px;
}

.sc-section-packages-box-fond-div{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    padding: 10px;
    align-items: center;
    .sc-section-packages-fond-text{
        box-sizing: inherit;
        margin: 0;
        padding: 0;
        border: 0;
        font: inherit;
        vertical-align: baseline;
        color: rgba(0,0,0,.6);
        line-height: 24px;
        letter-spacing: .15px;
        font-size: 15px;
        font-weight: 500;
    }
    .sc-section-packages-fond-percent{
        -webkit-text-size-adjust: 100%;
        -webkit-box-direction: normal!important;
        box-sizing: inherit;
        margin: 0;
        padding: 0;
        border: 0;
        font: inherit;
        vertical-align: baseline;
        color: rgba(0,0,0,.6);
        font-size: 32px;
        line-height: 48px;
    }
}

.sc-section-packages-list{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    .sc-section-packages-list-item{
 
        list-style: none;
        box-sizing: inherit;
        font: inherit;
        vertical-align: baseline;
        color: rgba(0,0,0,.6);
        font-weight: 500;
        font-size: 14px;
        line-height: 20px;
        letter-spacing: .25px;
        margin-bottom: 16px;
        background-size: 20px;
        background-position-y: top;
        padding: 0 28px;
    }

}

.sc-section-packages-box-button{

    box-sizing: inherit;
    margin: 0;
    font: inherit;
    vertical-align: baseline;
    text-decoration: inherit;
    text-align: center!important;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: .1px;
    font-weight: 600;
    border-radius: 6px;
    cursor: pointer;
    outline: none;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 128px;
    height: 40px;
    padding: 8px 16px;
    background: #058d66;
    color: #fff;
    background-position: 50%;
    transition: background .7s,color .4s;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
}

.sc-section-request-button{
    -webkit-text-size-adjust: 100%;
    -webkit-box-direction: reverse!important;
    box-sizing: inherit;
    margin: 0;
    font: inherit;
    vertical-align: baseline;
    text-decoration: inherit;
    text-align: center!important;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: .1px;
    font-weight: 600;
    border-radius: 6px;
    cursor: pointer;
    outline: none;
    border: none;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    min-width: 128px;
    height: 48px;
    padding: 12px 16px;
    background: #058d66;
    color: #fff;
    background-position: 50%;
    transition: background .7s,color .4s;
    width: 30%;
}
.sc-section-request-button:hover{
    color: #fff;
    text-decoration: none;
}